.BackBtn {
  border: 3rem;
  background-color: transparent;
}

.search-headline {
  text-align: center;
}
.BackBtn img {
  width: 6vw;
  margin-left: 2.5rem;
}

.BackBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Btn-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding-top: 7vh;
  position: relative;
}

.menu-btn {
  position: relative;
  z-index: 2;
  background-color: transparent;
  font-family: montserrat;
  font-size: 2.5rem;
  font-weight: 500;
  padding-right: 2rem;
}

.placeholder {
  width: 6vw;
  height: 10vh;
}
.Btn-Wrapper h2 {
  font-size: clamp(
    2.4rem,
    2.0073298429319366rem + 1.6753926701570696vw,
    2.6rem
  );
  flex-basis: 0;
  flex-grow: 3;
}

.dark-theme-arrow {
  transform: rotate(180deg) scale(1.5);
}

@media only screen and (min-width: 567px) and (max-width: 991px) {
  .Btn-Wrapper h2 {
    font-size: clamp(
      2.6rem,
      2.33364705882353rem + 0.7529411764705871vw,
      2.8rem
    );
  }
  .BackBtn img {
    width: 4vw;
  }
  .placeholder {
    width: 4vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  .Btn-Wrapper h2 {
    font-size: clamp(
      2.8rem,
      -3.2060606060606114rem + 9.696969696969706vw,
      3rem
    );
  }
  .BackBtn img {
    width: 3vw;
  }
  .placeholder {
    width: 3vw;
  }
  .search-headline {
    margin-right: 9rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1600px) {
  .BackBtn img {
    width: 3vw;
  }
}
