.toggle-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 212, 212);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0 2rem 2rem 2rem;
}
.ingredient-toggle-btn,
.instructions-toggle-btn {
  background-color: rgb(212, 212, 212);
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 1.6rem;
  border: none;
  transition: all ease-in 250ms;
  width: 50vw;
  height: 6vh;
  font-weight: 600;
  font-size: clamp(
    1.6rem,
    1.2073298429319372rem + 1.6753926701570678vw,
    1.8rem
  );
}

.toggle-container .active {
  background-color: #0f1a1f;
  color: white;
}

.ingredient-toggle-btn,
.instructions-toggle-btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 567px) and (max-width: 991px) {
  .ingredient-toggle-btn,
  .instructions-toggle-btn {
    font-size: clamp(
      1.8rem,
      1.5325471698113209rem + 0.7547169811320753vw,
      2rem
    );
  }
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  .ingredient-toggle-btn,
  .instructions-toggle-btn {
    font-size: clamp(
      2rem,
      -4.2000000000000055rem + 10.000000000000009vw,
      2.2rem
    );
  }
}
